
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Trebuchet, Arial, sans-serif;
   
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container-fluid::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.container-fluid {
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 10px 0 5px black; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightblue; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  

/* loading start */
    #cf{
        position: fixed;
        margin: 0;
        padding: 0;
        background: #34495e;
        height: 100vh;
        display: flex;	
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        overflow: hidden;
        z-index: 99999;
    }
    #loading{
        width: 200px;
        height: 200px;
        box-sizing: border-box;
        border-radius: 50%;
        border-top:10px solid#e74c3c;
        position: relative;
        animation: a1 2s linear infinite;
    }
    #loading::before,#loading::after{
        content: '';
        width: 200px;
        height: 200px;
        position: absolute;
        left: 0;
        top: -10px;
        box-sizing: border-box;
        border-radius: 50%;
    }
    #loading::before{
        border-top: 10px solid #e67e22;
        transform: rotate(120deg);
    }
    #loading::after{
        border-top: 10px solid #3498db;
        transform: rotate(240deg);
    }
    #loading span{
        position: absolute;
        width: 200px;
        height: 200px;
        color: #fff;
        text-align: center;
        line-height: 200px;
        animation: a2 2s linear infinite;
    }
    @keyframes a1{
        to{
            transform: rotate(360deg);
        }
    }
    @keyframes a2{
        to{
            transform: rotate(-360deg);
        }
    }
/*loading end*/

/* social menu start */
.social{
    position: fixed;
    top: 30%;
    left:114%;
    z-index: 2;
}
.social ul{
    list-style-type: none;
    padding: 0;
    transform: translateX(-270px);
}
.social ul li{
    display: block;
    margin: 5px;   
    background: rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: left;
    padding: 10px;
    border-radius: 30px 30px 0px;
    transition: all 1s;

}
.social ul li:hover{
    transform: translateX(-110px);
}
.social ul li.twitter{
    color: #55acee;
}
.social ul li.twitter:hover{
    background: #55acee;
}
.social ul li.facebook:hover{
    background: #3d5999;
}
.social ul li.google:hover{
    background: orange;
}
.social ul li.instagram:hover{
    background: #e4405f;
}
.social ul li a{
    color: #fff;
    text-decoration: none;
}
.social ul li i{
    text-align: center;
    margin: 0 14px;
    background: #fff;
    padding: 1px;
    border-radius: 30%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    transform: rotate(0deg);
    line-height: 40px;
}
.social ul li i.fa-twitter{
    background: #55acee;
}
.social ul li i.fa-facebook{
    background: #3d5999;
}
.social ul li i.fa-google{
    background: orange;
}
.social ul li i.fa-instagram{
    background: #e4405f;
}
.social ul li:hover i{
    transform: rotate(360deg);
    transition: all 1s;
}

/* social menu end */

/* header section start */
    header{
        position: fixed;
        left: 0px;
        right: 0px;
        z-index: 1;
        background: rgba(0,0,0,0.5);
    }
    header .brand-name{
        padding-left: 30px;
    }
    .navbar-light .navbar-brand img{
        width: 250px;
    }
    header .brand-name a{
        text-decoration: none;
        font-size: 22px;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        position: relative;
    }
    header .brand-name a::before{
        content: '';
        height: 3px;
        background-color: #ffffff;
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    #ul{
        margin-left: 50px;
    }
    ul li a{
        color: #313131;
        text-transform: uppercase;
    }
    header .navbar ul li:first-child{
        margin-left: 30px;
    }
    .navbar ul li:last-child{
        padding-right: 8px;
    }
    header .navbar ul li{
        display: inline-block;
        margin-left: 35px;
        text-transform: capitalize;
    }
    header .navbar ul li a{    
        text-decoration: none;
        line-height: 72px;
        display: block;
        color: #ffffff;
        font-weight: 600;
        position: relative;
        letter-spacing: 2px;
        margin: 0px 30px !important;
        color: #fff !important;
    }
    header .navbar ul li a.active::before{
        content: '';
        height: 3px;
        background-color: #ffffff;
        width: 0%;
        position: absolute;
        left: 0px;
        bottom: -1px;
        transition: all .5s ease;
    }
    header .navbar ul li a::before{
        content: '';
        height: 3px;
        background-color: orange;
        width: 0%;
        position: absolute;
        left: 0px;
        bottom: 13px;
        transition: all .5s ease;
    }
    header .navbar ul li a:hover::before{
        width: 100%;
        left: 0;
    }
    header .navbar ul li a.active::before{
        width: 100%;
        left: 0;
    }    
    .navbar-toggler{
        margin-right: 30px;
    }
 
    .onoffswitch {
        position: relative; width: 95px;
        height: 32px;
        -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
    
        display: block; overflow: hidden; cursor: pointer;
        border: 2px solid #999999; border-radius: 20px;
    }
    .onoffswitch-inner {
        display: block; width: 200%; margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
        font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    
    .onoffswitch-inner:before {
        content: "LIGHT";
        padding-left: 10px;
        background-color: #fff; 
        color: #34A7C1;
    }
    .onoffswitch-inner:after {
        content: "DARK";
        padding-right: 10px;
        background-color: #34A7C1;
        color: #fff;
        text-align: right;
    }
    .onoffswitch-switch {
        display: block; width: 18px; margin: 6px;
        background: #FFFFFF;
        position: absolute; top: 0; bottom: 0;
        right: 56px;
        border: 2px solid #999999; border-radius: 20px;
        transition: all 0.3s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px; 
    }
/* header section end */

/* home section start */
.home{
    padding: 100px 0px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
}
.home .container{
    margin-top: 20px;
}
.home-h1,.home-h2{
    letter-spacing: 2px;
    font-size: 45px;
    text-transform: uppercase;        
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    color: #fff;    
}
.home-h6,.home-p{
    color: rgb(127,255,0);
    font-size: 20px;
    font-weight: 500;
    padding: 30px 0px;
}
.btn-lm{
    margin-left: -40px;
    padding: 5px 20px;
    font-size: 20px;
    z-index: 2;
}
.btn-sw{
    margin-left: 10px;
    padding: 5px 25px;
    font-size: 20px;
    z-index: 2;
}

/* home section end */

/* section service start */
.service{
    padding-top: 110px;
    text-align: center;
}
.service .container{
    max-width: 1290px !important;
}
.service-content{
    padding: 20px;
    margin: 20px 0px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.service-content div:hover{
    background-image: linear-gradient(to left,#000,#0652dd,#000);
    color: orange;
    font-weight: 700;
    box-shadow: 0 30px 50px rgb(0,0,0,0.5);
    cursor: pointer;
}
.service .container .row .col-xl-3 h5{
    font-size: 25px;
    font-weight: 600;
    padding-top: 20px;        
}
.service .container .row .col-xl-3 p{
    padding: 10px 30px;    
}
span .fa{
    font-size: 50px;
    color: orange;
    padding: 30px;
    border-radius: 50%;
}
.ser-h1{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.ser-h1::after{
    content: '';
    position: absolute;
    top: 120%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: #2ecc71;
}
/* section service end */

   /* skill start */
   .skills{
    padding-top: 110px;
    
}
.sk-h1::after{
    content: '';
    position: absolute;
    top: 120%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: #2ecc71;
}
.skill-content{
   margin-top: 40px;
}
.skill-box{
    padding: 1rem;
    cursor: pointer;
    text-align: -webkit-center;
}
.skill-box:hover{
    background-image: linear-gradient(to left,#000,#ff0000,#000);
color: orange;
font-weight: 700;
box-shadow: 0 30px 50px rgb(0,0,0,0.5);
cursor: pointer;
}
.skill-content h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5;
}
.skill-content h3::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    height: 4px;
    width: 35px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
}
.skill-content h3::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    height: 4px;
    width: 35px;
    border-radius: 2px 0 0 2px;
    background-color: #2ecc71;
}
.img{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

 h3{
    margin: 0.5rem;
}
.skill-icon{
    width: 60px;
}
/* skill end */

    /* about start */
    .about{
        padding-top: 110px;
    }
    
    .abt-h1::after{
        content: '';
        position: absolute;
        top: 120%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        width: 100px;
        background-color: #2ecc71;
    } 
         .img-box img{
            width: 100%;
            max-width: 500px;
            min-width: 100px;
            border-radius: 20px;
        }
        .about .container .about-content .col-sm-12{
            margin: 60px 0;
        }
        .about .container .about-content .info-box h4{
            font-size: 25px;
            font-weight: 600;
            margin: 0 0 5px;
        } 
        .about .container .about-content .info-box h6{
            font-size: 18px;
            font-weight: 500;
            margin: 0 0 15px;
        }
        .about .container .about-content .info-box h6 span{
            color: #febd01;
        }
        .about .container .about-content .info-box p{
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            margin: 0 0 20px;
            
        } 
        .about .container .about-content .img-box{
            margin-right: 40px;
        }
    
        .about .container .about-content .info-box .info{
            display: flex;
            flex-wrap: wrap;    
            justify-content: space-between;
        }
        .about .container .about-content .info-box .info .list{
            flex: 0 0 calc(50% - 15px);
            max-width: calc(50% - 15px);
            margin-top: 10px; 
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid #dee2e6;
            padding-bottom: 10px;
        }
        .about .container .about-content .info-box .info .list label{
            padding-right: 10px;
            font-weight: 600;
            font-size: 15px;
        }
        .about .container .about-content .info-box .info .list p{
            margin: 0;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            color: #838383;   
        }
        .about .container .about-content .info-box .info .social-links{
            padding-top: 30px;
        }
        .about .container .about-content .info-box .info .social-links a{
            height: 30px;
            width: 30px;
            background-color: #000; 
            border-radius: 3px;
            display: inline-block;
            border: 1px solid #000;
            line-height: 24px;
            text-align: center;
            margin: 0 1px;
            -webkit-transition: all 0.5s ease;
            transition: all .5s ease;
            margin-left: 10px;
        }
    
        .about .container .about-content .info-box .info .social-links a:hover{
            background-color: transparent;
        }
        .about .container .about-content .info-box .info .social-links a .fa{
            font-size: 12px;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
        }
        /* about end */
        
    /* contact start */
.contact{
    padding-top: 110px;
}

.con-h1{
    margin-bottom: 50px;
}
.con-h1::after{
    content: '';
    position: absolute;
    top: 66%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color: #2ecc71;
}
/* form starting stylings ------------------------------- */
.group {
position: relative;
margin-bottom: 35px;
}
input {
font-size: 18px;
padding: 5px 10px 10px 5px;
display: block;
width: 100%;
border: none;
border-bottom: 1px solid #fff;
background: transparent;
}
input:focus {
    outline: none;
}
/* LABEL ======================================= */
.contact label {
color: #fff;
font-size: 18px;
font-weight: normal;
position: absolute;
pointer-events: none;
left: 5px;
top: 10px;
transition: 0.2s ease all;
-moz-transition: 0.2s ease all;
-webkit-transition: 0.2s ease all;
}
/* active state */
input:focus ~ label, input:valid ~ label {
top: -20px;
font-size: 14px;
color: #fff;
}
/* BOTTOM BARS ================================= */
.bar {
position: relative;
display: block;
width: 100%;
}
.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #fff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}
/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
width: 50%;
}
/* HIGHLIGHTER ================================== */
.highlight {
position: absolute;
height: 60%;
width: 100px;
top: 25%;
left: 0;
pointer-events: none;
opacity: 0.5;
}
/* active state */
input:focus ~ .highlight {
-webkit-animation: inputHighlighter 0.3s ease;
-moz-animation: inputHighlighter 0.3s ease;
animation: inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
from {
    background: #fff;
}
to {
    width: 0;
    background: transparent;
}
}

@-moz-keyframes inputHighlighter {
from {
    background: #fff;
}
to {
    width: 0;
    background: transparent;
}
}

@keyframes inputHighlighter {
from {
    background: #fff;
}
to {
    width: 0;
    background: transparent;
}
}
#panel {
border: 1px solid rgb(200, 200, 200);
box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
background: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
background: red; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); /* For Firefox 3.6 to 15 */
background: linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); /* Standard syntax (must be last) */
border-radius: 4px;
margin-bottom: 50px;
}
.container #location iframe{
 width: 100%;
 height: 430px;
max-width: 800px;
min-width: 200px;
}

/* contact end */

/* footer start */
.page-footer{
    font-weight: 500;
        background: #333;
        color: #ddd;
}
.page-footer a{
        color: #fff; 
        text-decoration: none;
    }
    .page-footer a:hover{
        color: orange; 
        text-decoration: none;
    }
/* footer end */

/* top button start */
#myBtn{
    position: fixed;
bottom: 60px;
right: 40px;
font-size: 22px;
width: 50px;
height: 50px;
background: #e74c3c;
color: #fff;
border: none;
cursor: pointer;
border-radius: 50%;
}
/* top button end */

/* responsiveness */

@media(max-width:1250px){
    /* social start */
    .social{
        position: fixed;
        left: 119%;
    }    
    /* social end */
    /* header section start */
    .navbar-light .navbar-brand{
        margin: 0;
        
    }
    .navbar-light .navbar-brand img{
        width: 150px;
    }
        .navbar-nav .nav-link{
            margin: 0px 10px !important;
            font-size: 15px !important;
            font-weight: bold;
        }
    /* header section end */
    .home .container{
        margin-top: 0px;
    }
    .home-h1,.home-h2{
        font-size: 30px;
    }
    header .navbar ul li{
        margin-left: 5px !important;
    }
}
@media(min-width:768px){

    /* home section start */
        .info{
            margin: 5px auto;
            padding: 10 px 0px 50px;
        }    
    /* home section end */
    /*service start*/
        .service .container-fluid .row .col-md-4 p{
            padding: 20px;
        }
    /*service end*/

   
}

@media(max-width:790px){
    /* header start */
    
    header{
        background:rgba(0,0,0,0.9);
    }
    .navbar-nav .nav-item .nav-link{
        margin: 0px 0px !important;
    }
    header .brand-name{
        padding-left: 0px;
    }
    .onoffswitch{
        float: right;
    }

    /* header end */
    /* portfolio start */
    .img-box img{
        border-radius: 50% !important;
    }
    /* portfolio end */
    /*skill start*/
    .skills .container .row .col-xl-3{
        margin: 0px 30px;
     }
 /*skill end*/ 

 /*contact start*/
    #location iframe{
        width: 100%;        
    }
    #panel{
        margin:0px 10px;
        margin-bottom: 60px;
    }    
 /* contact end */

 /* social start */
 .social{
    position: fixed;
    left: 125%;
}
 /* social end */
}

@media(max-width:500px){
     /* social start */
 .social{
    position: fixed;
    left: 154%;
}
 /* social end */

}