
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'IM Fell French Canon SC', serif;
}
/* header section start */
    header{
        position: fixed;
        left: 0px;
        right: 0px;
        z-index: 1;
        background-color:oldlace;
    }
    header .brand-name{
        padding-left: 30px;
    }
    header .brand-name a{
        text-decoration: none;
        font-size: 22px;
        font-weight: 600;
        color: #ffffff;
        text-transform: uppercase;
        position: relative;
    }
    header .brand-name a::before{
        content: '';
        height: 3px;
        background-color: #ffffff;
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    #ul{
        margin-left: 100px !important;
    }
    ul li a{
        color: #313131;
        text-transform: uppercase;
    }
    header .navbar ul li:first-child{
        margin-left: 30px;
    }
    .navbar ul li:last-child{
        padding-right: 8px;
    }
    header .navbar ul li{
        display: inline-block;
        margin-left: 35px;
        text-transform: capitalize;
    }
    header .navbar ul li a{
    
        text-decoration: none;
        line-height: 72px;
        display: block;
        color: #ffffff;
        font-weight: 600;
        position: relative;
        letter-spacing: 2px;
    }
    header .navbar ul li a.active::before{
        content: '';
        height: 3px;
        background-color: #ffffff;
        width: 0%;
        position: absolute;
        left: 0px;
        bottom: -1px;
        transition: all .5s ease;
    }
    header .navbar ul li a::before{
        content: '';
        height: 3px;
        background-color: orange;
        width: 0%;
        position: absolute;
        left: 0px;
        bottom: 13px;
        transition: all .5s ease;
    }
    header .navbar ul li a:hover::before{
        width: 100%;
        left: 0;
    }
    header .navbar ul li a.active::before{
        width: 100%;
        left: 0;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        font-weight: bold;
        margin-left: 20px;
    }
    .navbar-toggler{
        margin-right: 30px;
    }
    .cv{
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 10px;
        color: #fff;
        font-weight: 600;
        border-radius: 6px;
        background-image: linear-gradient(to left,#12cbc4,#0652dd,#12cbc4);
    }
    .cv:hover{
        box-shadow: 0 20px 50px rgb(0,0,0,0.5);

    }

/* header section end */

/* home section start */
.home{
    padding: 50px 0px;
    background-color: aliceblue;
    
}
.home .container-fluid{
    margin-top: 50px;
}
.home-h1,.home-h2{
    letter-spacing: 2px;
    font-size: 30px;
    text-transform: uppercase;        
    font-weight: 700;
}
.home-h6,.home-p{
    color: rgb(127,255,0);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0px;
}
.home .container-fluid .row .info{
    padding: 100px 50px;
    
}
.btn-lm{
    margin-left: -40px;
    padding: 5px 20px;
    font-size: 20px;
}
.btn-sw{
    margin-left: 10px;
    padding: 5px 25px;
    font-size: 20px;
}
.info-img {
    min-width: 300px;
    max-width: 600px;
} 
.info-img img{
    width: 100%;
}
/* home section end */

/* section skills start */
.skills{
    padding: 110px 0px;
    background-color: honeydew;
    text-align: center;
}
.skills-content{
    padding: 20px;
    margin: 20px 0px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.skills-content div:hover{
    background-image: linear-gradient(to left,#12cbc4,#0652dd,#0652dd);
    color: orange;
    font-weight: 700;
    box-shadow: 0 30px 50px rgb(0,0,0,0.5);
    cursor: pointer;
}
.skills .container-fluid .row .col-xl-3 h5{
    font-size: 25px;
    font-weight: 600;
    padding-top: 20px;        
}
.skills .container-fluid .row .col-xl-3 p{
    padding: 20px 30px;    
}
span .fa{
    font-size: 100px;
    color: orange;
    padding: 30px;
    border-radius: 50%;
}
.ser-h1{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* section skills end */


/* responsiveness */

@media(max-width:1100px){
/* header section start */
    header .navbar ul li:first-child{
        margin-left: 30px;   
    }
    header .navbar ul li{
        margin-left: 0px;   
    }
    .navbar-expand-md .navbar-nav{
        padding-left: 0px;
        }
        #ul{
            margin-left: -10px !important;
        }
/* header section end */


}
@media(min-width:768px){
/* header section start */

 header .navbar ul li:first-child{
        margin-left: 0px !important;
    }
    .navbar-nav .nav-link{
        margin-left: 0px !important;
        font-size: 12px;
        font-weight: bold;
    }
    .navbar-expand-md .navbar-nav{
        padding-left: 0px !important;
    }
/* header section end */

/* home section start */
.info{
    margin: 5px auto;
    padding: 10px 0px 50px;
}       
        /* home section end */
/*service start*/
.skills .container-fluid .row .col-md-4 p{
    padding: 20px;
}

}
@media(max-width:768px){
    header .brand-name{
        padding-left: 0px;
    }
    header{
        background-color:oldlace;
    }

}